@model WebAutopark.Models.OrderViewModel

@{
    ViewData["Title"] = "Delete Order";
}

<hr />
<h4 class="text-center my-1">DELETE ORDER</h4>
<hr />
<div class="form-group text-center">
    <dl class="dl-horizontal">
        <dt>OrderId</dt>
        <dd>
            @Model.OrderId
        </dd>
        <dt>VehicleId</dt>
        <dd>
            @Model.VehicleId
        </dd>
    </dl>
    <form asp-controller="Order" asp-route-orderId="@Model.OrderId" asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-outline-primary" value="Delete" />
        </div>
    </form>
</div>

<div class="text-center mt-3">
    <a asp-controller="Order" asp-action="Index">Back to list</a>
</div>