@model WebAutopark.Models.ComponentViewModel

@{
    ViewData["Title"] = "Delete Component";
}

<hr />
<h4 class="text-center my-1">DELETE COMPONENT</h4>
<hr />
<div class="form-group text-center">
    <dl class="dl-horizontal">
        <dt>Id</dt>
        <dd>
            @Model.ComponentId
        </dd>
        <dt>Model</dt>
        <dd>
            @Model.Name
        </dd>
    </dl>
    <form asp-controller="Component" asp-action="Delete" method="post">
        <div class="form-group">
            <input type="submit" class="btn btn-outline-primary" value="Delete" />
        </div>
    </form>
</div>
<div class="text-center mt-3">
    <a asp-controller="Component" asp-action="Index">Back to list</a>
</div>